* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#octocat {
  display: block;
  width: 384px;
  margin: 50px auto;
  transform: rotate(10deg);
  transition: transform 0.5s ease-in-out;
}

#octocat:hover {
  transform: rotate(-10deg);
}

p {
  display: block;
  width: 400px;
  margin: 50px auto;
  font: 30px Monaco, "Courier New", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", monospace;
  text-align: center;
  color: #4caf50;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  letter-spacing: 1px;
  line-height: 1.5;
}

